server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:rtbdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

  redis:
    host: localhost
    port: 6379  # or any available port

logging:
  level:
    root: INFO
    no.kobler.rtb: DEBUG
    org.hibernate.SQL: DEBUG

# Default smoothing implementation: in-memory. Change to "redis" to use Redis.
smoothing:
  type: in-memory
